---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<style>
  .talk-year-heading {
    margin-top: 2em;
    padding-top: 0.6em;
  }
  .talk-year-heading .year-rule {
    border: none;
    border-top: 1px solid var(--global-border-color, #e0e0e0);
    margin: 0.2em 0;
  }
  .talk-year-heading h2 {
    margin: 0.4em 0 0.2em 0;
  }
  .talk-year-heading hr.bottom {
    border: none;
    border-top: 1px solid var(--global-border-color, #e0e0e0);
    margin: 0.2em 0 0.6em 0;
  }
  .talk-numbered {
    list-style-type: decimal;
    padding-left: 2em;
    margin-bottom: 1em;
  }
  .talk-numbered > li {
    margin-bottom: 1.2em;
  }
</style>

{% assign sorted_talks = site.talks | sort: "date" | reverse %}
{% assign prev_year = "" %}

{% for post in sorted_talks %}
  {% assign y = post.date | date: "%Y" %}
  {% if y != prev_year %}
    {% if prev_year != "" %}
      </ol>
    {% endif %}
    <div class="talk-year-heading">
      <hr class="year-rule" />
      <hr class="year-rule" />
      <h2 id="year-{{ y }}">{{ y }}</h2>
      <hr class="bottom" />
    </div>
    <ol class="talk-numbered" start="1">
  {% endif %}
  <li>
    {% include archive-single-talk.html %}
  </li>
  {% assign prev_year = y %}
{% endfor %}
{% if prev_year != "" %}
  </ol>
{% endif %}
